// font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// font-family: 'Comfortaa', cursive;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}
//* Navigation bar
$navPrimeColor: #555;
nav {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 5rem;
  @include flexCenter();
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  position: relative;

  > a > img {
    width: 10rem;
  }
  .search_bar {
    width: 50%;
    height: 100%;
    @include flexCenter();
    form {
      width: 80%;
      height: 2.5rem;
      border-radius: 50px;
      background-color: aliceblue;
      border: 2px solid #f23c48;
      display: flex;
      > input {
        width: 85%;
        height: 100%;
        border-radius: 50px 0 0 50px;
        border: none;
        padding: 0 20px;
        &:focus {
          outline: none;
        }
      }
      > button {
        width: 15%;
        height: 100%;
        border: none;
        border-radius: 0 50px 50px 0;
        cursor: pointer;
        background-color: #f23c48;
        > i {
          font-size: 1.4rem;
          font-weight: bolder;
          margin: 8px 0 5px 0;
          color: $navPrimeColor;
        }
      }
    }
  }
  .header_icons {
    width: 20%;
    height: 100%;
    @include flexCenter();
    position: relative;
    justify-content: space-around;
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
      color: $navPrimeColor;
    }
    > a > i,
    > i {
      font-size: 1.5rem;
      color: #555;
      cursor: pointer;
    }
    .cartAndSpending {
      display: flex;
      min-width: 30%;
      @include flexCenter();
      justify-content: space-evenly;
      gap: 1rem;
      a {
        text-decoration: none;
      }
      > a > span {
        position: relative;
        font-size: 1.8rem;
        > p {
          @include flexCenter();
          font-family: serif;
          font-weight: 700;
          color: azure;
          width: 1.5rem;
          height: 1.5rem;
          padding: 6px;
          font-size: 1rem;
          position: absolute;
          bottom: -12px;
          right: -15px;
          background-color: red;
          border-radius: 50%;
        }
      }
      h6 {
        font-size: 1rem;
        color: $navPrimeColor;
      }
    }
  }

  #search_icon {
    display: none;
  }

  .resp__serach__barContainer {
    position: absolute;
    bottom: -3.05rem;
    z-index: 3;
    left: 0;
    width: 100%;
    height: 3rem;
    display: none;

    > form {
      display: flex;
      width: 100%;
      height: 100%;
    }
    > form > input {
      width: 90%;
      height: 100%;
      padding: 0 20px;
      outline: none;
      border: none;
      border-bottom: 1px solid #bbb;
    }
    > form > button {
      width: 10%;
      height: 100%;
      background-color: #f23c48;
      border: none;
      cursor: pointer;
      > i {
        font-size: 1.3rem;
      }
    }
  }
}

// =================================================================
// =================================================================
// =================================================================
@media screen and (max-width: 1115px) {
  nav {
    justify-content: space-between;
    padding: 0 2rem;
    > a > img {
      width: 13rem;
    }
    .search_bar {
      display: none;
    }
    .header_icons {
      width: 30%;
    }

    #search_icon {
      display: block;
    }
  }
}
@media screen and (max-width: 900px) {
  nav {
    > a > img {
      width: 13rem;
    }
    .header_icons {
      width: 50%;
    }
  }
}
@media screen and (max-width: 700px) {
  nav {
    > a > img {
      width: 10rem;
    }
    .header_icons {
      width: 50%;
      #favIcon,
      .fa-moon {
        display: none;
      }
    }
    .resp__serach__barContainer {
      > form > input {
        width: 85%;
      }
      > form > button {
        width: 15%;
      }
    }
  }
}
@media screen and (max-width: 470px) {
  nav {
    padding: 0rem;
    > a > img {
      width: 8rem;
    }
    .header_icons {
      width: 60%;
      #favIcon,
      .fa-moon,
      #cushs {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 470px) {
  nav {
    .resp__serach__barContainer {
      > form > input {
        width: 80%;
      }
      > form > button {
        width: 20%;
      }
    }
  }
}

////////////////////////////////////////////
#About__header {
  width: 100%;
  min-height: 87vh;
  background-image: url(../images/about-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include flexCenter();
  flex-direction: column;
  h1 {
    font-size: 5rem;
    padding: 1rem;
    color: #444242;
  }
  p {
    color: #555;
    font-size: 1.5rem;
    padding: 1rem;
  }
}
.cardsContainer {
  width: 100%;
  min-height: 60vh;
  padding: 1rem;
  @include flexCenter();
  justify-content: space-evenly;
  > .card {
    width: 25rem;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: 0.3s ease-in;
    user-select: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.04);
    }
    > img {
      width: 12rem;
      height: 12rem;
      object-fit: cover;
      margin: 1rem 0;
    }
    > span {
      font-size: 1.2rem;
      color: #2b2b2b;
      font-weight: bold;
      padding: 1rem;
    }
    > p {
      font-size: 0.9rem;
      color: #555;
      text-align: center;
      line-height: 2rem;
    }
  }
}
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
@media screen and (max-width: 370px) {
  #About__header {
    h1 {
      font-size: 3.5rem;
      padding: 0.5rem;
    }
    p {
      color: #555;
      font-size: 1.1rem;
      padding: 0.5rem;
    }
  }
}
@media screen and (max-width: 950px) {
  .cardsContainer {
    width: 100%;
    > .card {
      > img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        margin: 1rem 0;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    > .card {
      width: 80%;
      padding: 0;

      > img {
        width: 50vw;
        height: 50vh;
        object-fit: contain;
        margin: 1rem 0;
      }
      > span {
        font-size: 1.1rem;
        color: #2b2b2b;
        font-weight: bold;
        padding: 1rem 0;
      }
    }
  }
}

.FAQ__wrapper {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  > span {
    color: #050c4b;
    font-weight: bold;
  }
  > h1 {
    font-family: "Comfortaa", cursive;
    padding: 20px;
    font-size: 2.5rem;
  }
  > p {
    color: #8b8b8b;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .wrapper {
    width: 60%;
    min-height: 6rem;
    margin-top: 1rem;
    .Tpart {
      width: 100%;
      min-height: 3rem;
      border: 1px solid #ddd;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      color: #555;
      cursor: pointer;
      > p {
        font-family: "Comfortaa", cursive;
        font-weight: bold;
      }
      > span {
        font-size: 2rem;
      }
    }
    .Bpart {
      width: 100%;
      padding: 20px;
      text-align: left;
      line-height: 1.5rem;
      color: #555;
      font-weight: bold;
      user-select: none;
      transition: 0.9s ease-in;
      display: none;
    }
  }
  .activeColl {
    min-height: 3rem !important;
    display: flex !important;
    position: relative;
  }
}
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .FAQ__wrapper {
    padding: 20px 10px;
    .wrapper {
      width: 90%;
      min-height: 6rem;
      margin-top: 1rem;
      .Tpart {
        width: 100%;
        min-height: 3rem;
        border: 1px solid #ddd;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        color: #555;
        cursor: pointer;
        > p {
          font-family: "Comfortaa", cursive;
          font-weight: bold;
          font-size: 3.5vw;
        }
      }
    }
  }
}
.contactUs {
  width: 100%;
  height: 40vh;
  background-color: #f9fbfc;
  @include flexCenter();
  flex-direction: column;
  gap: 1rem;
  color: #555;
  h2 {
    font-family: "Comfortaa", cursive;
    font-size: 2em;
  }
  p {
    margin-top: 1rem;
  }
  a {
    padding: 15px 30px;
    border: none;
    background-color: #f23c48;
    color: azure;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    &:hover {
      background-color: forestgreen;
    }
  }
}
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
@media screen and (max-width: 560px) {
  .contactUs {
    min-height: 40vh;
    padding: 2rem;
    text-align: center;
    h2 {
      font-size: 7vw;
    }
    p {
      margin-top: 0;
    }
    a {
      margin-top: 0;
    }
  }
}
footer {
  width: 100%;
  min-height: 82vh;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  > .wrapper {
    width: 27rem;
    height: 25rem;
    padding: 20px 0;
    @include flexCenter();
    flex-direction: column;
    justify-content: space-evenly;
    > h3 > a {
      color: #555;
      text-decoration: none;
      display: none;
    }
    > a {
      text-decoration: none;
      color: #555;
    }
    > img {
      width: 15rem;
    }
    > div {
      display: flex;
      > i {
        font-size: 4rem;
        color: #f23c48;
        padding: 0 20px;
      }
      > div {
        > p {
          font-size: 0.9rem;
          color: #555;
          padding: 15px 0;
        }
      }
    }
    .social_media_icons {
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      > i {
        font-size: 1.5rem;
        filter: grayscale(100%);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
  .bank_lg {
    width: 100%;
    height: 3.3rem;
    background-color: #d7d5d5;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
      text-decoration: none;
      color: #f23c48;
      font-weight: bold;
    }
    > div {
      display: flex;
      align-items: center;
      > img {
        width: 3rem;
        margin: 0 1rem;
      }
    }
  }
}
//================================================
//================================================
//================================================
@media screen and (max-width: 990px) {
  footer {
    > .wrapper {
      width: 27rem;
      height: 25rem;
      padding: 20px 0;
      @include flexCenter();
      flex-direction: column;
      justify-content: space-evenly;
      > img {
        width: 10rem;
      }
      > div {
        > i {
          font-size: 3rem;
          margin-top: 1rem;
        }
        > div {
          > p {
            font-size: 0.9rem;
            color: #555;
            padding: 15px 0;
          }
        }
      }
    }
  }
}
//================================================
@media screen and (max-width: 550px) {
  footer {
    > .wrapper {
      width: 90%;
      height: 25rem;
      padding: 20px 10px;
      > h3 > a {
        display: block;
        padding: 10px;
      }
      > img {
        width: 15rem;
      }
      > div {
        > i {
          font-size: 4rem;
          margin-top: 1rem;
        }
        > div {
          > p {
            font-size: 0.9rem;
            color: #555;
            padding: 15px 0;
          }
        }
      }
    }
    .disp {
      display: none;
    }
    .bank_lg {
      a {
        text-decoration: none;
        color: #f23c48;
        font-weight: bold;
      }
      > div {
        display: none;
      }
    }
  }
}
