// font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}
//* Navigation bar
$navPrimeColor: #555;
nav {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 5rem;
  @include flexCenter();
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  position: relative;

  > a > img {
    width: 10rem;
  }
  .search_bar {
    width: 50%;
    height: 100%;
    @include flexCenter();
    form {
      width: 80%;
      height: 2.5rem;
      border-radius: 50px;
      background-color: aliceblue;
      border: 2px solid #f23c48;
      display: flex;
      > input {
        width: 85%;
        height: 100%;
        border-radius: 50px 0 0 50px;
        border: none;
        padding: 0 20px;
        &:focus {
          outline: none;
        }
      }
      > button {
        width: 15%;
        height: 100%;
        border: none;
        border-radius: 0 50px 50px 0;
        cursor: pointer;
        background-color: #f23c48;
        > i {
          font-size: 1.4rem;
          font-weight: bolder;
          margin: 8px 0 5px 0;
          color: $navPrimeColor;
        }
      }
    }
  }
  .header_icons {
    width: 20%;
    height: 100%;
    @include flexCenter();
    position: relative;
    justify-content: space-around;
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
      color: $navPrimeColor;
    }
    > a > i,
    > i {
      font-size: 1.5rem;
      color: #555;
      cursor: pointer;
    }
    .cartAndSpending {
      display: flex;
      min-width: 30%;
      @include flexCenter();
      justify-content: space-evenly;
      gap: 1rem;
      a {
        text-decoration: none;
      }
      > a > span {
        position: relative;
        font-size: 1.8rem;
        > p {
          @include flexCenter();
          font-family: serif;
          font-weight: 700;
          color: azure;
          width: 1.5rem;
          height: 1.5rem;
          padding: 6px;
          font-size: 1rem;
          position: absolute;
          bottom: -12px;
          right: -15px;
          background-color: red;
          border-radius: 50%;
        }
      }
      h6 {
        font-size: 1rem;
        color: $navPrimeColor;
      }
    }
  }

  #search_icon {
    display: none;
  }

  .resp__serach__barContainer {
    position: absolute;
    bottom: -3.05rem;
    z-index: 3;
    left: 0;
    width: 100%;
    height: 3rem;
    display: none;

    > form {
      display: flex;
      width: 100%;
      height: 100%;
    }
    > form > input {
      width: 90%;
      height: 100%;
      padding: 0 20px;
      outline: none;
      border: none;
      border-bottom: 1px solid #bbb;
    }
    > form > button {
      width: 10%;
      height: 100%;
      background-color: #f23c48;
      border: none;
      cursor: pointer;
      > i {
        font-size: 1.3rem;
      }
    }
  }
}

// =================================================================
// =================================================================
// =================================================================
@media screen and (max-width: 1115px) {
  nav {
    justify-content: space-between;
    padding: 0 2rem;
    > a > img {
      width: 13rem;
    }
    .search_bar {
      display: none;
    }
    .header_icons {
      width: 30%;
    }

    #search_icon {
      display: block;
    }
  }
}
@media screen and (max-width: 900px) {
  nav {
    > a > img {
      width: 13rem;
    }
    .header_icons {
      width: 50%;
    }
  }
}
@media screen and (max-width: 700px) {
  nav {
    > a > img {
      width: 10rem;
    }
    .header_icons {
      width: 50%;
      #favIcon,
      .fa-moon {
        display: none;
      }
    }
    .resp__serach__barContainer {
      > form > input {
        width: 85%;
      }
      > form > button {
        width: 15%;
      }
    }
  }
}
@media screen and (max-width: 470px) {
  nav {
    padding: 0rem;
    > a > img {
      width: 8rem;
    }
    .header_icons {
      width: 60%;
      #favIcon,
      .fa-moon,
      #cushs {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 470px) {
  nav {
    .resp__serach__barContainer {
      > form > input {
        width: 80%;
      }
      > form > button {
        width: 20%;
      }
    }
  }
}

#mainCintianer {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  padding: 1rem 0 2rem 0;
  gap: 1rem;
  > div {
    width: 45%;
    min-height: 90vh;
  }
  .carouselWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .main {
      grid-area: 1 / 1 / 5 / 6;
      padding: 20px;
      display: flex;
      justify-content: center;
      position: relative;
      > img {
        width: 70%;
        object-fit: contain;
      }
      p {
        position: absolute;
        left: 1rem;
        top: 1rem;
        background-color: #f23c48;
        color: azure;
        border-radius: 5px;
        padding: 4px 10px;
        font-size: 0.95rem;
        font-weight: bold;
      }
    }
    .opt {
      grid-area: 5 / 1 / 6 / 6;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 10px;

      > img {
        width: 8rem;
        height: 60%;
        object-fit: contain;
        cursor: pointer;
      }
    }
  }

  .productDetailsWrapper {
    display: flex;
    > div {
      width: 50%;
      min-height: 90vh;
      padding: 10px;
    }
    .productDetails {
      small {
        font-weight: bold;
        color: #555;
      }
      h1 {
        padding: 1rem 0;
        font-size: 1.4rem;
      }
      > img {
        width: 50%;
        object-fit: contain;
      }
      .prd_data {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        font-weight: bold;
        margin-top: 2rem;
        > div {
          width: 50%;
          height: 4rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
        img {
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
          margin-left: 1rem;
        }
        p {
          font-size: 0.9rem;
          display: inline;
          color: green;
        }
        i {
          color: green;
          font-size: 1.1rem;
        }
        #wrranty {
          color: #555;
          font-size: 0.8rem;
        }
      }
    }
    .productDelivery {
      .price {
        width: 100%;
        height: 20rem;
        border: 1px solid #ddd;
        border-radius: 10px;
        position: relative;
        .availblity {
          width: 90%;
          height: 2rem;
          border-bottom: 1px solid #ddd;
          margin: 0.5rem auto;
          p {
            font-size: 0.9rem;
            padding: 0.5rem 0;
            display: inline-block;
          }
          span {
            color: green;
            font-weight: bold;
          }
        }
        h2 {
          padding: 2rem 0.5rem 0.2rem 1.5rem;
          font-size: 2rem;
          color: #555;
        }
        small {
          margin: 1.5rem;
          text-decoration: line-through;
          color: #f23c48;
        }
        form {
          width: 100%;
          min-height: 6rem;
          display: flex;
          flex-direction: column;
          > input {
            width: 5rem;
            height: 2rem;
            border-radius: 10px;
            border: 2px solid #ddd;
            outline: none;
            padding: 0 1rem;
            margin: 1rem 0;
          }
          @include flexCenter();
          > button {
            background-color: #f23c48;
            color: azure;
            width: 8rem;
            height: 3rem;
            border-radius: 10px;
            border: none;
            font-size: 0.9rem;
            cursor: pointer;
            transition: 0.2s ease-out;
            &:hover {
              background-color: green;
            }
          }
        }
        a {
          position: absolute;
          left: 50%;
          bottom: 1.5rem;
          font-size: 0.9rem;
          transform: translateX(-50%);
          text-decoration: none;
          color: #555;
        }
      }
      .deliveryDetls {
        width: 100%;
        height: 8rem;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-top: 1rem;
        padding: 1rem;
        i {
          color: green;
          padding: 0.5rem;
        }
        p {
          display: inline;
          color: #555;
          font-size: 0.95rem;
        }
        span {
          color: #f23c48;
          font-weight: bold;
        }
      }
    }
  }
}
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
@media screen and (max-width: 1115px) {
  #mainCintianer {
    justify-content: center;
    padding: 1rem 0 2rem 0;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    > div {
      min-height: 90vh;
    }
    .carouselWrapper {
      width: 90%;
      .opt {
        > img {
          width: 12vw;
        }
      }
    }

    .productDetailsWrapper {
      display: flex;
      justify-content: space-around;
      width: 90%;
      > div {
        width: 40%;
        min-height: 90vh;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #mainCintianer {
    .productDetailsWrapper {
      display: flex;
      flex-direction: column;
      min-height: 50vh;
      > div {
        min-height: 50vh;
        width: 80%;
        margin: 0 auto;
      }
      .productDetails {
        margin-top: 3rem;
        > img {
          width: 30%;
        }
      }
      .productDelivery {
        display: flex;
        align-items: center;
        flex-direction: column;
        .price {
          width: 80%;
        }
        .deliveryDetls {
          width: 80%;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  #mainCintianer {
    .carouselWrapper {
      .main {
        padding: 10px;
        > img {
          width: 90%;
          object-fit: contain;
        }
      }
      .opt {
        grid-area: 5 / 1 / 6 / 6;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 5px;

        > img {
          width: 20vw;
        }
      }
    }

    .productDetailsWrapper {
      display: flex;
      flex-direction: column;
      min-height: 50vh;
      > div {
        min-height: 50vh;
        width: 90%;
        margin: 0 auto;
      }
      .productDetails {
        margin-top: 3rem;
        > img {
          width: 40%;
        }
      }
      .productDelivery {
        display: flex;
        align-items: center;
        flex-direction: column;
        .price {
          width: 100%;
        }
        .deliveryDetls {
          width: 100%;
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////
.description {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
  position: relative;
  .container {
    width: 90%;
    min-height: 70vh;
    background: #fff;
    display: inline-block;
    margin: 2% 5%;
    > .header {
      width: 90%;
      height: 4rem;
      border-bottom: 1px solid #ddd;
      margin: 0 auto;
      display: flex;
      gap: 2rem;
      align-items: flex-end;
      justify-content: center;
      > li {
        list-style: none;
        padding: 5px;
        > a {
          text-decoration: none;
          color: #bbb;
        }
      }
      .activeed {
        border-bottom: 3px solid #f23c48;
        font-weight: bold;
        font-size: 1.2rem;
        position: relative;
        a {
          color: #555;
        }
        &::after {
          content: "";
          width: 10px;
          height: 10px;
          position: absolute;
          bottom: -11px;
          left: 50%;
          transform: translateX(-50%);
          background-color: #f23c48;
          clip-path: polygon(100% 0, 0 0, 50% 100%);
        }
      }
    }
    > p {
      margin: 4rem;
      line-height: 2rem;
      color: #555;
    }
    .cellesWrapper {
      width: 90%;
      min-height: 20rem;
      margin: 2rem auto;
      .cell {
        width: 100%;
        min-height: 3rem;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        padding: 1rem;
        color: #4a545d;
        > span {
          min-width: 25%;
          margin-right: 1rem;
          font-weight: bold;
        }
        > p {
          font-size: 0.9rem;
        }
      }
    }
    > h3 {
      padding: 2rem;
      color: #4a545d;
    }
    .reviwContainer {
      width: 90%;
      height: 60vh;
      margin: 0 auto;
      display: flex;
      .wrapper {
        width: 60%;
        height: 100%;
        border: 1px solid #fff;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        > p {
          font-size: 3rem;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          color: #555;
          padding: 0.5rem 1rem;
          > span {
            font-size: 1rem;
            margin-left: 10px;
          }
        }
        .reviewCell {
          width: 90%;
          height: 3rem;
          margin: 0.5rem auto;
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          gap: 0.3rem;
          i {
            color: gold;
          }
          p {
            font-size: 1rem;
          }
          .sperator {
            width: 30%;
            height: 0.4rem;
            background-color: #ddd;
            border-radius: 10px;
            margin: 0 1rem 0 2rem;
          }
        }
      }
    }
  }
}
/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 600px) {
  .description {
    .container {
      > p {
        margin: 5% 8%;
      }
      .cellesWrapper {
        .cell {
          min-height: 3rem;
          > span {
            min-width: 40%;
          }
        }
      }
      .reviwContainer {
        width: 90%;
        height: 60vh;
        margin: 0 auto;
        display: flex;
        .wrapper {
          width: 60%;
          height: 100%;
          padding-bottom: 1rem;
          .reviewCell {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .description {
    .container {
      > .header {
        width: 80%;
        gap: 1rem;
        align-items: flex-end;
        justify-content: center;
        font-size: 0.9rem;
        .activeed {
          font-size: 1rem;
        }
      }
      > p {
        margin: 2rem;
      }
      .cellesWrapper {
        .cell {
          > span {
            min-width: 50%;
          }
        }
      }
      > h3 {
        padding: 1rem 2rem;
        font-size: 1rem;
      }
      .reviwContainer {
        width: 95%;
        height: fit-content;
        margin: 1rem auto;
        display: flex;
        flex-direction: column-reverse;
        > span {
          padding: 1rem;
          font-size: 0.9rem;
        }
        .wrapper {
          width: 90%;
          height: 100%;
          border: 1px solid #fff;
          display: flex;
          flex-direction: column;
          padding-bottom: 2rem;
          > p {
            font-size: 2.5rem;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            color: #555;
            padding: 0.5rem 1rem;
            > span {
              font-size: 0.9rem;
              margin-left: 10px;
            }
          }
          .reviewCell {
            width: 90%;
            height: 3rem;
            margin: 0.5rem auto;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            gap: 0.3rem;
            i {
              color: gold;
            }
            p {
              font-size: 1rem;
            }
            .sperator {
              width: 30%;
              height: 0.4rem;
              background-color: #ddd;
              border-radius: 10px;
              margin: 0 1rem 0 2rem;
            }
          }
        }
      }
    }
  }
}
#mixed__products {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  > div {
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    > .cell_header {
      width: 100%;
      height: 4rem;
      border-bottom: 1px solid #ddd;
      display: flex;
      align-items: flex-end;
      > span {
        font-size: 1.3rem;
        font-weight: bold;
        color: #555;
        padding: 5px 10px;
        border-bottom: 3px solid #f23c48;
      }
    }
    > .products_cell {
      width: 100%;
      height: 5rem;
      display: flex;
      padding: 0 0.5rem;
      transition: 0.5s ease-in;
      &:hover {
        background-color: #55555511;
      }
      > a > img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
      }
      > .products_details {
        width: 19rem;
        height: 100%;
        > h1 > a {
          text-decoration: none;
          color: #0062bd;
          font-size: 1.1rem;
          padding: 10px;
        }
        > div {
          display: flex;
          margin-top: 1rem;
          > span {
            padding: 0 10px;
            color: #f23c48;
            font-weight: bold;
          }
          > p {
            color: #555;
            text-decoration: line-through;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
footer {
  width: 100%;
  min-height: 82vh;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  > .wrapper {
    width: 27rem;
    height: 25rem;
    padding: 20px 0;
    @include flexCenter();
    flex-direction: column;
    justify-content: space-evenly;
    > h3 > a {
      color: #555;
      text-decoration: none;
      display: none;
    }
    > a {
      text-decoration: none;
      color: #555;
    }
    > img {
      width: 15rem;
    }
    > div {
      display: flex;
      > i {
        font-size: 4rem;
        color: #f23c48;
        padding: 0 20px;
      }
      > div {
        > p {
          font-size: 0.9rem;
          color: #555;
          padding: 15px 0;
        }
      }
    }
    .social_media_icons {
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      > i {
        font-size: 1.5rem;
        filter: grayscale(100%);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
  .bank_lg {
    width: 100%;
    height: 3.3rem;
    background-color: #d7d5d5;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
      text-decoration: none;
      color: #f23c48;
      font-weight: bold;
    }
    > div {
      display: flex;
      align-items: center;
      > img {
        width: 3rem;
        margin: 0 1rem;
      }
    }
  }
}
//================================================
//================================================
//================================================
@media screen and (max-width: 990px) {
  footer {
    > .wrapper {
      width: 27rem;
      height: 25rem;
      padding: 20px 0;
      @include flexCenter();
      flex-direction: column;
      justify-content: space-evenly;
      > img {
        width: 10rem;
      }
      > div {
        > i {
          font-size: 3rem;
          margin-top: 1rem;
        }
        > div {
          > p {
            font-size: 0.9rem;
            color: #555;
            padding: 15px 0;
          }
        }
      }
    }
  }
}
//================================================
@media screen and (max-width: 550px) {
  footer {
    > .wrapper {
      width: 90%;
      height: 25rem;
      padding: 20px 10px;
      > h3 > a {
        display: block;
        padding: 10px;
      }
      > img {
        width: 15rem;
      }
      > div {
        > i {
          font-size: 4rem;
          margin-top: 1rem;
        }
        > div {
          > p {
            font-size: 0.9rem;
            color: #555;
            padding: 15px 0;
          }
        }
      }
    }
    .disp {
      display: none;
    }
    .bank_lg {
      a {
        text-decoration: none;
        color: #f23c48;
        font-weight: bold;
      }
      > div {
        display: none;
      }
    }
  }
}
