@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

nav {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  position: relative;
}
nav > a > img {
  width: 10rem;
}
nav .search_bar {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .search_bar form {
  width: 80%;
  height: 2.5rem;
  border-radius: 50px;
  background-color: aliceblue;
  border: 2px solid #f23c48;
  display: flex;
}
nav .search_bar form > input {
  width: 85%;
  height: 100%;
  border-radius: 50px 0 0 50px;
  border: none;
  padding: 0 20px;
}
nav .search_bar form > input:focus {
  outline: none;
}
nav .search_bar form > button {
  width: 15%;
  height: 100%;
  border: none;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  background-color: #f23c48;
}
nav .search_bar form > button > i {
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 8px 0 5px 0;
  color: #555;
}
nav .header_icons {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-content: space-around;
}
nav .header_icons .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  color: #555;
}
nav .header_icons > a > i,
nav .header_icons > i {
  font-size: 1.5rem;
  color: #555;
  cursor: pointer;
}
nav .header_icons .cartAndSpending {
  display: flex;
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  gap: 1rem;
}
nav .header_icons .cartAndSpending a {
  text-decoration: none;
}
nav .header_icons .cartAndSpending > a > span {
  position: relative;
  font-size: 1.8rem;
}
nav .header_icons .cartAndSpending > a > span > p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  font-weight: 700;
  color: azure;
  width: 1.5rem;
  height: 1.5rem;
  padding: 6px;
  font-size: 1rem;
  position: absolute;
  bottom: -12px;
  right: -15px;
  background-color: red;
  border-radius: 50%;
}
nav .header_icons .cartAndSpending h6 {
  font-size: 1rem;
  color: #555;
}
nav #search_icon {
  display: none;
}
nav .resp__serach__barContainer {
  position: absolute;
  bottom: -3.05rem;
  z-index: 3;
  left: 0;
  width: 100%;
  height: 3rem;
  display: none;
}
nav .resp__serach__barContainer > form {
  display: flex;
  width: 100%;
  height: 100%;
}
nav .resp__serach__barContainer > form > input {
  width: 90%;
  height: 100%;
  padding: 0 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid #bbb;
}
nav .resp__serach__barContainer > form > button {
  width: 10%;
  height: 100%;
  background-color: #f23c48;
  border: none;
  cursor: pointer;
}
nav .resp__serach__barContainer > form > button > i {
  font-size: 1.3rem;
}

@media screen and (max-width: 1115px) {
  nav {
    justify-content: space-between;
    padding: 0 2rem;
  }
  nav > a > img {
    width: 13rem;
  }
  nav .search_bar {
    display: none;
  }
  nav .header_icons {
    width: 30%;
  }
  nav #search_icon {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  nav > a > img {
    width: 13rem;
  }
  nav .header_icons {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  nav > a > img {
    width: 10rem;
  }
  nav .header_icons {
    width: 50%;
  }
  nav .header_icons #favIcon,
  nav .header_icons .fa-moon {
    display: none;
  }
  nav .resp__serach__barContainer > form > input {
    width: 85%;
  }
  nav .resp__serach__barContainer > form > button {
    width: 15%;
  }
}
@media screen and (max-width: 470px) {
  nav {
    padding: 0rem;
  }
  nav > a > img {
    width: 8rem;
  }
  nav .header_icons {
    width: 60%;
  }
  nav .header_icons #favIcon,
  nav .header_icons .fa-moon,
  nav .header_icons #cushs {
    display: none;
  }
}
@media screen and (max-width: 470px) {
  nav .resp__serach__barContainer > form > input {
    width: 80%;
  }
  nav .resp__serach__barContainer > form > button {
    width: 20%;
  }
}
#prfileContainer {
  width: 100%;
  min-height: 87vh;
}
#prfileContainer .navigation {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 0 5%;
  font-family: "Roboto", sans-serif;
}
#prfileContainer .navigation a {
  color: #555;
  text-decoration: none;
  font-weight: bold;
}
#prfileContainer .navigation span {
  margin: 0 1rem;
}
#prfileContainer .cntProfile {
  width: 95%;
  min-height: 87vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
#prfileContainer .cntProfile .dash {
  width: 30%;
  height: 25rem;
}
#prfileContainer .cntProfile .dash .slot {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 0.9rem;
}
#prfileContainer .cntProfile .dash .slot:hover > a {
  color: #f23c48;
}
#prfileContainer .cntProfile .dash .slot > a,
#prfileContainer .cntProfile .dash .slot p {
  color: #555;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s ease-in;
}
#prfileContainer .cntProfile .dash .slot i {
  font-size: 1.2rem;
}
#prfileContainer .cntProfile .dash .slot .dark_label {
  width: 3rem;
  height: 1.5rem;
  border: 2px solid #ddd;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 2px;
}
#prfileContainer .cntProfile .dash .slot .dark_label .ball {
  width: 18px;
  height: 18px;
  background-color: #bbb;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
#prfileContainer .cntProfile .dash .slot .dark_label .activeBall {
  transform: translateX(1.2rem);
  background-color: #fff;
}
#prfileContainer .cntProfile .dash .activeSlot > a {
  color: #f23c48 !important;
}
#prfileContainer .cntProfile .Details {
  width: 68%;
  height: 100%;
}
#prfileContainer .cntProfile .Details > h1 {
  text-align: center;
  padding: 1rem;
}
#prfileContainer .cntProfile .Details .conatiner {
  width: 100%;
  min-height: 80vh;
}
#prfileContainer .cntProfile .Details .conatiner > form {
  width: 90%;
  min-height: 28rem;
  margin: 1rem auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
}
#prfileContainer .cntProfile .Details .conatiner > form label {
  color: #555;
  margin-left: 1rem;
}
#prfileContainer .cntProfile .Details .conatiner > form > input {
  height: 2.5rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 0 15px;
  margin: 0.4rem 1rem 1rem 0;
  width: 80%;
}
#prfileContainer .cntProfile .Details .conatiner > form > select {
  width: 6rem;
  height: 2rem;
  border-radius: 50px;
  padding: 0 10px;
  margin: 1rem 0;
  border: 1px solid #ddd;
}
#prfileContainer .cntProfile .Details .conatiner > form > button {
  background-color: #f23c48;
  color: azure;
  padding: 0.9rem 2.5rem;
  border-radius: 40px;
  border: none;
  font-weight: bold;
  align-self: flex-start;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #prfileContainer .cntProfile {
    flex-direction: column;
  }
  #prfileContainer .cntProfile .dash {
    width: 75%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 2rem 0 1rem 0;
  }
  #prfileContainer .cntProfile .dash .slot {
    height: 4rem;
  }
  #prfileContainer .cntProfile .Details {
    width: 80%;
  }
  #prfileContainer .cntProfile .Details .conatiner {
    width: 100%;
    min-height: 80vh;
  }
  #prfileContainer .cntProfile .Details .conatiner > form > input {
    height: 2.5rem;
    width: 100%;
  }
}
footer {
  width: 100%;
  min-height: 82vh;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
footer > .wrapper {
  width: 27rem;
  height: 25rem;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}
footer > .wrapper > h3 > a {
  color: #555;
  text-decoration: none;
  display: none;
}
footer > .wrapper > a {
  text-decoration: none;
  color: #555;
}
footer > .wrapper > img {
  width: 15rem;
}
footer > .wrapper > div {
  display: flex;
}
footer > .wrapper > div > i {
  font-size: 4rem;
  color: #f23c48;
  padding: 0 20px;
}
footer > .wrapper > div > div > p {
  font-size: 0.9rem;
  color: #555;
  padding: 15px 0;
}
footer > .wrapper .social_media_icons {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > .wrapper .social_media_icons > i {
  font-size: 1.5rem;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
footer > .wrapper .social_media_icons > i:hover {
  filter: grayscale(0);
}
footer .bank_lg {
  width: 100%;
  height: 3.3rem;
  background-color: #d7d5d5;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .bank_lg a {
  text-decoration: none;
  color: #f23c48;
  font-weight: bold;
}
footer .bank_lg > div {
  display: flex;
  align-items: center;
}
footer .bank_lg > div > img {
  width: 3rem;
  margin: 0 1rem;
}

@media screen and (max-width: 990px) {
  footer > .wrapper {
    width: 27rem;
    height: 25rem;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  footer > .wrapper > img {
    width: 10rem;
  }
  footer > .wrapper > div > i {
    font-size: 3rem;
    margin-top: 1rem;
  }
  footer > .wrapper > div > div > p {
    font-size: 0.9rem;
    color: #555;
    padding: 15px 0;
  }
}
@media screen and (max-width: 550px) {
  footer > .wrapper {
    width: 90%;
    height: 25rem;
    padding: 20px 10px;
  }
  footer > .wrapper > h3 > a {
    display: block;
    padding: 10px;
  }
  footer > .wrapper > img {
    width: 15rem;
  }
  footer > .wrapper > div > i {
    font-size: 4rem;
    margin-top: 1rem;
  }
  footer > .wrapper > div > div > p {
    font-size: 0.9rem;
    color: #555;
    padding: 15px 0;
  }
  footer .disp {
    display: none;
  }
  footer .bank_lg a {
    text-decoration: none;
    color: #f23c48;
    font-weight: bold;
  }
  footer .bank_lg > div {
    display: none;
  }
}/*# sourceMappingURL=profile.css.map */