<footer>
  <div class="wrapper">
    <img src="/images/Easytech.png" alt="LOGO" />
    <div>
      <i class="fa-solid fa-headset"></i>
      <div>
        <p>You have questions ? Call us 24/7!</p>
        <span>(+212) XXX XXX XXX</span>
      </div>
    </div>
    <h4>Contact information</h4>
    <p>Tangeir cp90000</p>
    <h3><a href="#">Customer service</a></h3>
    <h3><a href="#">General</a></h3>
    <div class="social_media_icons">
      <i class="fa-brands fa-instagram" style="color: orange"></i>
      <i class="fa-brands fa-linkedin" style="color: rgb(0, 140, 255)"></i>
      <i
        class="fa-brands fa-square-facebook"
        style="color: rgb(40, 103, 248)"
      ></i>
      <i class="fa-brands fa-whatsapp" style="color: rgb(0, 255, 60)"></i>
    </div>
  </div>
  <div class="wrapper disp">
    <h4>Customer service</h4>
    <a href="/login">My account</a>
    <a href="/FaQ">FAQS</a>
    <a href="contact">Contact us </a>
  </div>
  <div class="wrapper disp">
    <h4>General</h4>
    <a href="/FaQ">Who are we?</a>
    <a href="/FaQ">Terms of Sales</a>
    <a href="/FaQ">Why EasyTech</a>
    <a href="/FaQ">Warranty Conditions</a>
  </div>
  <div class="bank_lg">
    <p>
      <a href="https://github.com/Mohamed-Marsou">MTM - </a>All rights reserved
      2023
    </p>
    <div>
      <img src="/images/brands/mastercard-2.svg" alt="" />
      <img src="/images/brands/visa.svg" alt="" />
      <img src="/images/brands/paypal-3.svg" alt="" />
    </div>
  </div>
</footer>
