<nav>
  <a href="./index.ejs">
    <img src="./images/Easytech.png" alt="LOGO" />
  </a>
  <div class="search_bar">
    <form action="">
      <input
        type="text"
        name="search"
        placeholder="Search for a product ...."
      />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
  <div class="header_icons">
    <i class="fa-solid fa-magnifying-glass" id="search_icon"></i>
    <i class="fa-regular fa-moon" id="darkMode"></i>
    <a href="whisList.ejs">
      <span class="material-symbols-outlined" id="favIcon"> favorite </span>
    </a>
    <a href="login.ejs">
      <i class="fa-regular fa-user"></i>
    </a>
    <div class="cartAndSpending">
      <a href="./Cart.ejs">
        <span class="material-symbols-outlined">
          local_mall
          <p>0</p>
        </span>
      </a>
      <a href="./Cart.ejs">
        <h6 id="cushs">0000 $</h6>
      </a>
    </div>
  </div>

  <div class="resp__serach__barContainer">
    <form action="#" method="post">
      <input
        type="search"
        id="resp__serach__bar"
        placeholder="Looking for something..."
      />
      <button>
        <i class="fa-solid fa-magnifying-glass" id="searchBar_btn"></i>
      </button>
    </form>
  </div>
</nav>
