<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/public/images/logo.png"
      type="image/x-icon"
    />
    <!--* Google icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!--* Font awesome -->
    <script
      src="https://kit.fontawesome.com/53405766b0.js"
      crossorigin="anonymous"
    ></script>
    <!--* CSS -->
    <link rel="stylesheet" href="./public/css/FaQ.css" />
    <link rel="stylesheet" href="./public/css/FaqDark.css" />
    <script src="./public/JavaScript/Faq.js" defer></script>
    <title>EasyTech</title>
  </head>
  <body>
    <%- include('./includes/nav.ejs'); -%>
    <div id="About__header">
      <h1>About us</h1>
      <p>
        We are a small team but our goal is very big. We are taking our local
        E-commerce to a new level.
      </p>
    </div>
    <div class="cardsContainer">
      <div class="card">
        <img src="./public/images/HowCanWeHelp.png" alt="image" />
        <span>What we really do?</span>
        <p>
          Besides our Ecommerce project, We are handling SEO and Web developing
          for many companies around the world.
        </p>
      </div>
      <div class="card">
        <img src="./public/images/VS_Our_Vision.png" alt="image" />
        <span>Our Vision</span>
        <p>
          Is to Create a modern Local Ecommerce system for our customers here in
          Morocco.
        </p>
      </div>
      <div class="card">
        <img src="./public/images/journey.jpg" alt="image" />
        <span>History of Beginning</span>
        <p>
          Maybe we are late to start the Project tell this year (2022) but we
          are sure that we can provide the best services for our customers. The
          local market is still young even the E-commerce growth has been
          increased at the beginning of COVID-19.
        </p>
      </div>
    </div>
    <div class="FAQ__wrapper">
      <span>FAQs</span>
      <h1>Frequently asked Questions</h1>
      <p>Have a question ? We're here to help.</p>

      <div class="wrapper">
        <div class="Tpart">
          <p>Questions Number #1</p>
          <span class="material-symbols-outlined"> add </span>
        </div>
        <div class="Bpart">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            neque corporis esse aspernatur fugit consequatur harum perspiciatis
            sint cumque ex id repudiandae nobis ducimus cum, facere maxime culpa
            sit. Mollitia recusandae quae sequi ex, esse, unde reiciendis rem
            eveniet accusamus laudantium doloribus officia quas illo numquam
            fugiat alias dolorem facilis quod inventore ullam? Commodi id non
            laudantium accusamus omnis placeat!
          </p>
        </div>
      </div>
      <div class="wrapper">
        <div class="Tpart">
          <p>Questions Number #2</p>
          <span class="material-symbols-outlined"> add </span>
        </div>
        <div class="Bpart">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            neque corporis esse aspernatur fugit consequatur harum perspiciatis
            sint cumque ex id repudiandae nobis ducimus cum, facere maxime culpa
            sit. Mollitia recusandae quae sequi ex, esse, unde reiciendis rem
            eveniet accusamus laudantium doloribus officia quas illo numquam
            fugiat alias dolorem facilis quod inventore ullam? Commodi id non
            laudantium accusamus omnis placeat! sit. Mollitia recusandae quae
            sequi ex, esse, unde reiciendis rem eveniet accusamus laudantium
            doloribus officia quas illo numquam fugiat alias dolorem facilis
            quod inventore ullam? Commodi id non laudantium accusamus omnis
            placeat!
          </p>
        </div>
      </div>

      <div class="wrapper">
        <div class="Tpart">
          <p>Questions Number #3</p>
          <span class="material-symbols-outlined"> add </span>
        </div>
        <div class="Bpart">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            neque corporis esse aspernatur fugit consequatur harum perspiciatis
          </p>
        </div>
      </div>

      <div class="wrapper">
        <div class="Tpart">
          <p>Questions Number #4</p>
          <span class="material-symbols-outlined"> add </span>
        </div>
        <div class="Bpart">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            neque corporis esse aspernatur fugit consequatur harum perspiciatis
            sint cumque ex id repudiandae nobis ducimus cum, facere maxime culpa
            sit. Mollitia recusandae quae sequi ex, esse, unde reiciendis rem
            eveniet accusamus laudantium doloribus officia quas illo numquam
            fugiat alias dolorem facilis quod inventore ullam? Commodi id non
            laudantium accusamus omnis placeat! sit. Mollitia recusandae quae
            sequi ex, esse, unde reiciendis rem eveniet accusamus laudantium
            doloribus officia quas illo numquam fugiat alias dolorem facilis
            quod inventore ullam? Commodi id non laudantium accusamus omnis sint
            cumque ex id repudiandae nobis ducimus cum, facere maxime culpa sit.
            Mollitia recusandae quae sequi ex, esse, unde reiciendis rem eveniet
            accusamus laudantium doloribus officia quas illo numquam fugiat
            alias dolorem facilis quod inventore ullam? Commodi id non
            laudantium accusamus omnis placeat! sit. Mollitia recusandae quae
            sequi ex, esse, unde reiciendis rem eveniet accusamus laudantium
            doloribus officia quas illo numquam fugiat alias dolorem facilis
            quod inventore ullam? Commodi id non laudantium accusamus omnis
            placeat!
          </p>
        </div>
      </div>

      <div class="wrapper">
        <div class="Tpart">
          <p>Questions Number #5</p>
          <span class="material-symbols-outlined"> add </span>
        </div>
        <div class="Bpart">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit placeat!
          </p>
        </div>
      </div>
    </div>

    <div class="contactUs">
      <h2>Still have a question</h2>
      <p>
        Can't find the answer you're looking for? Please Chat to our friendly
        team
      </p>
      <a>Talk to us</a>
    </div>
    <%- include('./includes/footer.ejs'); -%>
  </body>
</html>
